html {
    background: rgb(236, 235, 160);
    background-image: radial-gradient(#524658 20%, transparent 20%),
    radial-gradient(#614461 20%, transparent 20%);
    background-color: #062c5f;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

h1{
    color: white;
    font-weight: 900;
}


#Campo {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 9%;
    min-width: 20%;
    width: 80%;
    gap: 20px;
}

.botao {
    width: 30%;
    height: 5vh;
}

#image1 {
    width: 100%;
    border: solid;
}

.teste {
    font-size: 150%;
    position: relative;
    top: 30px;
    font-weight: 900;
}

